---
//import { Image } from "astro:assets";
import PageLayout from "@/layouts/Base";
//import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>🚀 Future Astronaut & Tech Innovator 🚀</p>
		<p>Computer Science enthusiast with a keen focus on Robotics. 🛡️</p>
		<p>
			Actively pushing boundaries at the University of Pisa and mentoring the next generation of web
			developers thanks to Hack Your Future.
		</p>
		<p>💻 Inspired by a deep-seated dream to become an astronaut and leave a mark in space.</p>
		<p>🌌 Feel free to connect and chat!🌠</p>
		<div class="flex justify-center">
			<!--<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>-->
		</div>
	</div>
</PageLayout>
