---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "AI Training",
		desc: "How traing AI on it's own procuded data is dangerous",
		href: "#",
	},
	{
		title: "IoT Security",
		desc: "Can we squeeze a modern cryptography algorithm into an IoT device?",
		href: "#",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello Earth!</h1>
		<code class="Javascript"> Take off in 3...2...1...🚀</code>
		<br />
		<br />
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Tech I research</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						: <p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Subscribe to my blog</h2>
		<p>Writing about tech news, hot trends and my toughts about it, once a week</p>
		<br />
		<form
			id="sib-form"
			method="POST"
			action="https://a85c506b.sibforms.com/serve/MUIFALtHVsijl4rBXJUkDlHYTuzfCy9w813lr1IGU-Gv1cSAKZJGKmVSY-sbzoysrdGV1O2_CE6sCVT31B1-cPuGbRsTmiinKITzXe50Q8ibnSCdDnLWT6QplfH7z5IKsCnAl1BPWqOnk5MZpuCU-8J2N3KutKwQn5ITGzhi5U1t4yhXixY3UduTl4ZF4QWSmQwOsGf6_vjFp-xo"
		>
			<div class="mb-4">
				<label for="email" class="block text-sm font-medium">Email</label>
				<input
					type="email"
					id="email"
					name="email"
					required
					class="mt-1 w-1/2 rounded-md border p-2"
					placeholder="example@example.com"
				/>
			</div>
			<button type="submit" class="rounded px-4 py-2" style="background-color: hsl(33, 100%, 43%)"
				>Subscribe</button
			>
		</form>
	</section>
</PageLayout>
<style>
	code {
		background-color: #181818;
		padding: 10px;
		border-radius: 5px;
		overflow-x: auto;
		margin-bottom: 20px;
	}
</style>
